h1 {
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
}

.m1 {
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m1 h1{
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 500;
    margin: 0;
}

.m1 p{
    color: #646464;
    margin: 30px 0;
    width: 40%;
}

.m1-bl {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #fff;
    margin-bottom: 20px;
}

.m1-bl-rec {
   position: relative;
   width: 385px;
   height: 160px;
   display: flex;
   flex-direction: column-reverse;  
   align-items: flex-start;
   padding: 20px;
   overflow: hidden;
}

.m1-bl-rec a{
    z-index: 2;
    display: flex;
    align-items: center;
}

.m1-bl-rec a::before {
    display: block;
    content: '';
    background-color: aqua;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.m1-bl-rec img {
    transition: all 0.4s ease;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.m1-bl-rec img:hover {
    top: -10px;
    left: -10px;
    width: 105%;
    height: 107%;
    opacity: 0.9;
}

.m1-bl-cub {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 500;
    transition: all 0.4s ease;
    overflow: hidden;
}

.e{
    flex-direction: column-reverse !important;  
    align-items: flex-start !important;
    justify-content: flex-start;
    font-size: 17px;
    line-height: 1.3em;
    font-weight: 500;
    padding: 15px;
    width: 170px;
    height: 170px;
}

.e a{
    display: flex;
    align-items: center;
}

.e a::before {
    display: block;
    content: '';
    background-color: aqua;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.m1-bl-cub a{
    z-index: 2;
}

.m1-bl-cub img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease;
}

.m1-bl-cub img:hover {
    top: -10px;
    left: -10px;
    width: 240px;
    height: 240px;
    opacity: 0.9;
}


.banner1 {
    background-image: url("./baner1.jpg");
    background-position: 50% -100px;
    background-repeat: no-repeat;
}

.m2 {
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white !important;
}

.m2 ul{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 100%;
}

.m2 ul li {
    width: 30%;
}

.m2 ul li span{
    display: flex;
}

.m2 h1{
    font-family: Poppins, sans-serif;
    font-size: 50px;
    margin: 0;
}

.m2 h3 {
    margin: 0;
}

.m2 p {
    font-size: 14px;
    line-height: 23px;
    margin: 0;
}

.m2 ul li div{
    padding-left: 20px;
}


.m3 {
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m3 a{
    color: black;
}

.m3 p{
    color: #646464;
    margin: 30px 0;
    width: 40%;
}

.m3 ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.m3 ul li {
    width: 30%;
}

.m3 ul li img{
    width: 100%;
}
.m3 .name{
    margin: 30px 0 5px 0;
    text-align: left;
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 500;
    position: relative;
}

.m3 i{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    content: '';
    background-color: rgb(201, 201, 201);
    border-radius: 50%;
    width: 33px;
    height: 33px;
    transition: all .3s ease;
}

.m3 i:hover{
    background-color: rgb(109, 226, 255);
}

.m3 span{
    text-align: left;
    display: block;
    color: #949494;
    font-size: 13px;
    padding-right: 10%;
}

.m3 li p {
    text-align: left;
    width: 100%;
}

.m3 .otz {
    text-align: left;
    color: #949494;
}

.switch {
    margin: 60px 0;
    height: 260px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.switch .vanish{
    opacity: 0;
}

.switch ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .5s ease;
}

.switch li {
    width: 45%;
    display: flex;
    margin-bottom: 20px;
}

.switch button{
    display: inline-block;
    border: 0;
    height: 10px;
    opacity: .5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #1ab5c1;
    margin: 0 20px;
}

.switch .active{
    background-color: #18778f;
}

.switch img {
    width: 177px;
    height: 100px;
    margin-right: 20px;
}

.switch h2{
    margin: 0;
    font-size: 19px;
    line-height: 1.3em;
    font-weight: 500;
}

.switch p {
    font-size: 17px;
    line-height: 1.18em;
    color: #484848;
    margin: 0;
}

.switch span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.banner2 {
    background-image: url("./baner2.jpg");
    background-position: 50% -100px;
    background-repeat: no-repeat;
}

.m4 {
    text-align: center;
    padding: 80px 0;
}

.m4 h1{
    font-family: Poppins, sans-serif;
    font-size: 50px;
    margin: 0;
    color: white;
    margin-bottom: 10px;
}

.m4 h3 {
    margin: 0;
}

.m4 p {
    font-size: 14px;
    line-height: 23px;
    margin: 0;
    color: white;
    padding: 0 20%;
    margin-bottom: 30px;
}

.m4 button {
    color: #fff !important;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 12px 42px;
    margin-left: 25px;
    transition: all .2s ease;
    cursor: pointer;
}

.m4 button:hover {
    background-color: #00d9ff;
}

.m5 {
    padding: 60px 0;
}

.m5 span{
    width: 85%;
}

.m5 ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.m5 li {
    width: 48%;
    display: flex;
}

.m5 i {
    margin-top: 15px;
    margin-right: 5%;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #1ab5c1;
    border-radius: 50%;
}



.m6 p {
    text-align: center;
    padding: 0 25%;
}

.m6 ul {
    display: flex;
    justify-content: space-between;
}

.m6 li {
    width: 30%;
}

.m6 img {
    width: 100%;
    margin-bottom: 20px;
}

.m6 a{
    color: #949494;
}

.m6 h2 {
    margin: 20px 0;
}

.m6 ul li p{
    margin-bottom: 10px;
    text-align: left;
    padding: 0;
}

.m6 span {
    font-size: 13px;
}